html, body {
	position: relative;
	padding: 0;
	margin: 0;
}

#wrapper {
	position: absolute;
	height: 50%;
	width: 100%;
    min-height: 50%; 
    /* this means that all the panels
    take up the full width and height
    of the screen :))))))) */
}

/*.container-fluid {
	position: fixed;
}*/

.navbar {
	position: sticky;
	top: 0;
	left: 0;
	z-index: 999999999999;
}

.container-fluid {
	display: inline-block;
}

.container-fluid li {
	font-size: 1.75em;
}

.navBarimg, .nav {
	display: inline;
}

.carousel-immigrants {
	height: 100vh;
	margin: 0;
	z-index: 999;
	position: fixed;
	/*position: sticky;*/
	visibility: visible;
}

.welcomeClass {
	/*background-color: rgba(255,255,255,0.4);*/
	margin: 5% 5% 5% 5%;
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right:0;
/*    pointer-events: none;*/
    visibility: hidden;
}

.welcomeClass h1 {
	margin-top: 40%;
	color: white;
	text-align: center;
	font-size: 200px;
	font-family: 'Nunito Sans', sans-serif;
	text-shadow: 5px 1px rgba(0,0,0,0.7);
	z-index: 99;
}

/*.slideFun1 {
	background-color: rgba(255,0,255,0.3);
	height: 100vh;
	z-index: 99;
}*/

.panels {
	position: relative;
	height: 100%;
	min-height: 100%;
	width: 100%;
	z-index: 1000;
}

/* this is the first panel, which is fixed */
/* .class vs #id */
#a {
	/*background: url("pics/bricks.jpg");*/
	background-color: #d3d3d3;
	position: fixed;
	top: 0;
	left: 0;
	/* YOU CAN HAVE A NEGATIVE
	Z-INDEX SO THAT ONE DIV
	ALWAYS GOES UNDER ANOTHER DIV */
	z-index: -99;
	height: 100vh;
	min-height: 70%;
}

.aboutUs, .volunteer-section, .contact-section {
	position: relative;
	top: 40;
	background-color: rgba(255,255,255,0.5);
	margin-left: 10%;
	margin-right: 10%;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 3%;
	padding-bottom: 60%; /* CHANGE LATER */
}

.navBarimg img {
	width: 10%;
}

.aboutUs h1, .panels h1 {
	text-align: center;
	font-size: 5em;
	font-family: 'Yanone Kaffeesatz', sans-serif;
}

.panels h1 {
	padding-top: 5%;
}

/*.aboutUsHeader, .aboutUsText {
	visibility: hidden;
	-webkit-transition: visibility 2s;
    transition: visibility 2s;
}

div:hover {
	visibility: visible;
}*/

/* the following is for the second panel
after the first fixed panel, it 
should get 100% top margin */

.donate-section img {
	width: 20%;
	padding-left: 2%;
}

.unitedtoDonate img {
	position: relative;
	/*top: 100%;*/
}

#b, #d {
	position: relative;
	margin-top: 10%;
	padding-top: 3%;
	background: white;
}

#b h1 {
	text-align: center;
	font-size: 5em;
	font-family: 'Yanone Kaffeesatz', sans-serif;
}

#c, #e {
	position: relative;
	background: #d3d3d3;
}