html, body {
	position: relative;
	padding: 0;
	margin: 0;
}

#wrapper {
	position: absolute;
	height: 50%;
	width: 100%;
    min-height: 50%; 
    /* this means that all the panels
    take up the full width and height
    of the screen :))))))) */
}

/*.container-fluid {
	position: fixed;
}*/

.navbar {
	position: sticky;
	top: 0;
	z-index: 999999999;
}
.carousel-immigrants {
	height: 100vh;
	margin: 0;
	z-index: 999;
	position: fixed;
	/*position: sticky;*/
}

.container {
	/*background-color: rgba(255,255,255,0.4);*/
	margin: 5% 5% 5% 5%;
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right:0;
    pointer-events: none;
    visibility: hidden;
}

.container h1 {
	margin-top: 40%;
	color: white;
	text-align: center;
	font-size: 200px;
	font-family: 'Nunito Sans', sans-serif;
	text-shadow: 5px 1px rgba(0,0,0,0.7);
	z-index: 99;
}

/*.slideFun1 {
	background-color: rgba(255,0,255,0.3);
	height: 100vh;
	z-index: 99;
}*/

.panels {
	position: relative;
	height: 100%;
	min-height: 100%;
	width: 100%;
	z-index: 1000;
}

/* this is the first panel, which is fixed */
/* .class vs #id */
#a {
	background: #eee;
	position: fixed;
	top: 0;
	left: 0;
	/* YOU CAN HAVE A NEGATIVE
	Z-INDEX SO THAT ONE DIV
	ALWAYS GOES UNDER ANOTHER DIV */
	z-index: -99;
}

.aboutUs {
	position: relative;
	top: 40;
	background-color: rgba(255,255,255,0.5);
	margin-left: 10%;
	margin-right: 10%;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 3%;
	padding-bottom: 60%; /* CHANGE LATER */
}

.aboutUs h1 {
	text-align: center;
	font-size: 5em;
	font-family: 'Yanone Kaffeesatz', sans-serif;
}

/* the following is for the second panel
after the first fixed panel, it 
should get 100% top margin */

#b {
	margin-top: 100%;
	background: yellow;
}

#c {
	background: pink;
}

#d {
	background: green;
}