html, body {
	position: relative;
}

#wrapper {
    min-height: 100%; 
}

/*.container-fluid {
	position: fixed;
}*/

.navbar {
	position: sticky;
	top: 0;
	z-index: 999999999;
}
.carousel-immigrants {
	height: 100vh;
	margin: 0;
	/*position: sticky;*/
}

.container {
	/*background-color: rgba(255,255,255,0.4);*/
	margin: 5% 5% 5% 5%;
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right:0;
    pointer-events: none;
    visibility: hidden;
}

.container h1 {
	margin-top: 40%;
	color: white;
	text-align: center;
	font-size: 200px;
	font-family: 'Nunito Sans', sans-serif;
	text-shadow: 5px 1px rgba(0,0,0,0.7);
	z-index: 99;
}

.slideFun1 {
	background-color: rgba(255,0,255,0.3);
	height: 100vh;
}